.login {
  background: #fff;
  max-width: 360px;
  margin: 60px auto;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}
.login-form {
  padding: 40px;
}
.login-form label {
  display: block; 
  margin: 30px auto;
}
.login-form span {
  display: block;
  margin-bottom: 6px;
}
.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
}