.home-container {
  margin: 60px auto;
}
.home-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 960px;
  margin: 60px auto;
}
.list {
  padding-right: 30px;
}
.create {
  padding-left: 30px;
}
/* create form */
label {
  display: block;
  margin: 0 auto 24px;
}
.create-form form {
  padding: 20px;
  background: var(--primary-color);
  border-radius: 10px;
}
.create-form .form-title {
  color: var(--primary-color);
  padding-bottom: 15px;
  display: block;
}
.create-form span {
  display: block;
  margin-bottom: 6px;
  color: #fff;
}
.create-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.create-btn {
  margin-top: 10px;
}
.create-btn:hover {
  border: 1px solid #fff;
}
/* filter */
.home-filter {
  margin: 30px auto;
  max-width: 960px;
}
.home-filter nav {
  display: flex;
  padding: 10px;
  background: #fff;
  border-radius: 4px;
}
.home-filter p {
  font-size: 0.9em;
  margin-right: 10px;
}
.home-filter button {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  border-right: 1px solid #e4e4e4;
  font-size: 0.9em;
}
.home-filter button:last-child {
  border: 0;
}
.home-filter button.active {
  color: var(--primary-color)
}